//- STYLUS HERE
.info
  width 100%
  height 100%
  background-color #fff
  position absolute
  text-align center

  .content
    top 50%
    left 50%
    transform translateY(-50%) translateX(-50%)
    position absolute

  h1
    text-transform uppercase
    font-family 'GothamThin'
    margin-bottom 44px
    font-size 40px
    letter-spacing 9px

  p
    font-family 'CourierRegular'
    font-size 11px
    line-height 150%
    margin-bottom 44px

  .line
    width 27px
    height 1px
    background-color #000
    margin 0 auto
    margin-bottom 44px


  .bt-close
    width 14px
    height 14px
    display block
    position absolute
    background url('img/close.png') no-repeat top left
    background-size 13.5px
    text-indent -9999px
    left 50%
    transform translateX(-50%) translateY(300px)
    transition transform 0.75s cubic-bezier(0.19, 1, 0.22, 1)
    bottom 50px


  ul li
    margin-bottom 5px

  ul li a
    font-family 'GothamLight'
    font-size 12px
    text-decoration none
    color #000

  ul li a:hover, ul li a.active
    text-decoration: line-through;

.info.animate-in
  .bt-close
    transform translateX(-50%) translateY(0)
    transition-delay 1s

