@font-face {
    font-family: "MetaCondBookRoman";
    src: url("fonts/metacondbook-roman-webfont.eot");
    src: url("fonts/metacondbook-roman-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/metacondbook-roman-webfont.woff") format("woff"),
         url("fonts/metacondbook-roman-webfont.ttf") format("truetype"),
         url("fonts/metacondbook-roman-webfont.svg#metacondbookroman") format("svg");
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CourierRegular';
    src: url('fonts/courier-webfont.eot');
    src: url('fonts/courier-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/courier-webfont.woff2') format('woff2'),
         url('fonts/courier-webfont.woff') format('woff'),
         url('fonts/courier-webfont.ttf') format('truetype'),
         url('fonts/courier-webfont.svg#courierregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaCalligraphyItalic';
    src: url('fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.eot');
    src: url('fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.woff') format('woff'),
         url('fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.svg#lucida_calligraphyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "MetaNormalRoman";
    src: url("fonts/metanormal-roman-webfont.eot");
    src: url("fonts/metanormal-roman-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/metanormal-roman-webfont.woff") format("woff"),
         url("fonts/metanormal-roman-webfont.ttf") format("truetype"),
         url("fonts/metanormal-roman-webfont.svg#meta_normalroman") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "MetaBookRoman";
    src: url("fonts/metabook-roman-webfont.eot");
    src: url("fonts/metabook-roman-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/metabook-roman-webfont.woff") format("woff"),
         url("fonts/metabook-roman-webfont.ttf") format("truetype"),
         url("fonts/metabook-roman-webfont.svg#meta_bookroman") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MetaBookItalic";
    src: url("fonts/metabook-italic-webfont.eot");
    src: url("fonts/metabook-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/metabook-italic-webfont.woff") format("woff"),
         url("fonts/metabook-italic-webfont.ttf") format("truetype"),
         url("fonts/metabook-italic-webfont.svg#meta_bookitalic") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "MetaRomanBold";
    src: url("fonts/metaboldlf-roman-webfont.eot");
    src: url("fonts/metaboldlf-roman-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/metaboldlf-roman-webfont.woff") format("woff"),
         url("fonts/metaboldlf-roman-webfont.ttf") format("truetype"),
         url("fonts/metaboldlf-roman-webfont.svg#meta_lfroman_bold") format("svg")
    font-weight: normal;
    font-style: normal;

}

font_normal = "MetaNormalRoman", sans-serif
font_cond_book = "MetaCondBookRoman", sans-serif
