[submodule "theoricus"]
	path = theoricus
	url = git://github.com/giuliandrimba/theoricus.git
[submodule "vendors/theoricus"]
	path = vendors/theoricus
	url = git://github.com/giuliandrimba/theoricus.git
