.border
.wrapper.pages

  #transition
  #container

  header.header

    a(href="http://github.com/giuliandrimba/labs", target="_blank", class="logo-labs")

    .bold_line

    .thin_line

  footer.footer

