.menu

  a(href="", class="bt-prev bt-menu")
    .out
      .icon
    .over
      .bg
      .icon
    .disabled
      .dot
  a(href="/info", class="bt-info bt-menu")
    .out
      .menu
        .line
        .line.two
        .line.three
    .over
      .bg
      .menu
        .line
        .line.two
        .line.three


  a(href="", class="bt-next bt-menu")
    .out
      .icon
    .over
      .bg
      .icon
    .disabled
      .dot

