.menu

	.open
		.arrow

	ul.nav
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#", class="active")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot
		li  
			a(href="#")
				.white_dot
				.dot