.menu

  a(href="", class="bt-prev bt-menu")
    .out
      .icon
    .over
      .bg
      .icon
  a(href="/info", class="bt-info bt-menu")
    .out
      p i
    .over
      .bg
      p i
  a(href="", class="bt-next bt-menu")
    .out
      .icon
    .over
      .bg
      .icon

