@import "../shared/_bootstrap"

// nib's global reset
// http://visionmedia.github.com/nib/
// global-reset()

.title
  color            white
  background-color black
  border-radius    15px
  text-align       center