@import "../shared/_reset"
@import "../shared/_fonts"
@import "../shared/_global"

.wrapper
	width 1150px
	position relative
	margin 0 auto
	min-height 600px

.pages

	.header
		text-align center

	.logo-labs
		position relative
		margin 0 auto
		top 50px
		display block

	.bold_line, .thin_line
		display none
		width 50px
		height 4px
		position relative
		margin 0 auto
		margin-top 20px
		background-color main_color

	.thin_line
		height 1px
		margin-top 15px

	.title
		display none
		font-family font_cond_book
		color main_color
		text-transform uppercase
		margin-top 15px