@import "../shared/_reset.styl"
@import "../shared/_fonts.styl"
@import "../shared/_global.styl"

.wrapper
	width 1150px
	position relative
	margin 0 auto

.pages

	.header
		text-align center

	.logo
		width 77px
		height 77px
		position relative
		margin 0 auto
		margin-top 20px
		display block

	.bold_line, .thin_line
		width 50px
		height 4px
		position relative
		margin 0 auto
		margin-top 20px
		background-color main_color

	.thin_line
		height 1px
		margin-top 15px

	.title
		font-family font_cond_book
		color main_color
		text-transform uppercase
		margin-top 15px