.agents {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.attract {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#automata-img {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
#lab-automata {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}
#lab-automata canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#lab-automata canvas.tween {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.fractals {
  background-color: #000;
  width: 100%;
  height: 100%;
}

#lab-ga {
  width: 100%;
  height: 100%;
  background-color: #000;
}
#lab-ga .label {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
#lab-ga .label.tween {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#lab-ga .label p,
#lab-ga .label h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#lab-ga .label p {
  letter-spacing: 2px;
  position: relative;
  font-weight: 300;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
}
#lab-ga .label h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  font-size: 70px;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -o-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
#lab-ga .label h1.done {
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -ms-transition: color 1s;
  transition: color 1s;
  color: #00ff24;
}

.hole {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.info {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  text-align: center;
}
.info .content {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
}
.info h1 {
  text-transform: uppercase;
  font-family: 'GothamThin';
  margin-bottom: 44px;
  font-size: 40px;
  letter-spacing: 9px;
}
.info p {
  font-family: 'CourierRegular';
  font-size: 11px;
  line-height: 150%;
  margin-bottom: 44px;
}
.info .line {
  width: 27px;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 44px;
}
.info .bt-close {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  background: url("img/close.png") no-repeat top left;
  -webkit-background-size: 13.5px;
  -moz-background-size: 13.5px;
  background-size: 13.5px;
  text-indent: -9999px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(300px);
  -moz-transform: translateX(-50%) translateY(300px);
  -o-transform: translateX(-50%) translateY(300px);
  -ms-transform: translateX(-50%) translateY(300px);
  transform: translateX(-50%) translateY(300px);
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  bottom: 50px;
}
.info ul li {
  margin-bottom: 5px;
}
.info ul li a {
  font-family: 'GothamLight';
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.info ul li a:hover,
.info ul li a.active {
  text-decoration: line-through;
}
.info.animate-in .bt-close {
  -webkit-transform: translateX(-50%) translateY(0);
  -moz-transform: translateX(-50%) translateY(0);
  -o-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}

.magnets {
  width: 100%;
  height: 100%;
}

.neural {
  width: 100%;
  height: 100%;
  background-color: #000;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "MetaCondBookRoman";
  src: url("fonts/metacondbook-roman-webfont.eot");
  src: url("fonts/metacondbook-roman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/metacondbook-roman-webfont.woff") format("woff"), url("fonts/metacondbook-roman-webfont.ttf") format("truetype"), url("fonts/metacondbook-roman-webfont.svg#metacondbookroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CourierRegular';
  src: url("fonts/courier-webfont.eot");
  src: url("fonts/courier-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/courier-webfont.woff2") format('woff2'), url("fonts/courier-webfont.woff") format('woff'), url("fonts/courier-webfont.ttf") format('truetype'), url("fonts/courier-webfont.svg#courierregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LucidaCalligraphyItalic';
  src: url("fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.eot");
  src: url("fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.woff") format('woff'), url("fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.ttf") format('truetype'), url("fonts/ufonts.com_lucida_calligraphy_italic__2_-webfont.svg#lucida_calligraphyitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MetaNormalRoman";
  src: url("fonts/metanormal-roman-webfont.eot");
  src: url("fonts/metanormal-roman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/metanormal-roman-webfont.woff") format("woff"), url("fonts/metanormal-roman-webfont.ttf") format("truetype"), url("fonts/metanormal-roman-webfont.svg#meta_normalroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MetaBookRoman";
  src: url("fonts/metabook-roman-webfont.eot");
  src: url("fonts/metabook-roman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/metabook-roman-webfont.woff") format("woff"), url("fonts/metabook-roman-webfont.ttf") format("truetype"), url("fonts/metabook-roman-webfont.svg#meta_bookroman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MetaBookItalic";
  src: url("fonts/metabook-italic-webfont.eot");
  src: url("fonts/metabook-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/metabook-italic-webfont.woff") format("woff"), url("fonts/metabook-italic-webfont.ttf") format("truetype"), url("fonts/metabook-italic-webfont.svg#meta_bookitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MetaRomanBold";
  src: url("fonts/metaboldlf-roman-webfont.eot");
  src: url("fonts/metaboldlf-roman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/metaboldlf-roman-webfont.woff") format("woff"), url("fonts/metaboldlf-roman-webfont.ttf") format("truetype"), url("fonts/metaboldlf-roman-webfont.svg#meta_lfroman_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamThin";
  src: url("fonts/Gotham-Thin.woff") format("woff"), url("fonts/Gotham-Thin.ttf") format("truetype"), url("fonts/Gotham-Thin.svg#Gotham-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamLight";
  src: url("fonts/Gotham-Light.eot");
  src: url("fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Light.woff") format("woff"), url("fonts/Gotham-Light.ttf") format("truetype"), url("fonts/Gotham-Light.svg#meta_lfroman_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #000;
  overflow: hidden;
}
h2 {
  font-size: 17px;
  letter-spacing: 10px;
}
.wrapper {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  min-height: 600px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.border {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.pages .header {
  text-align: center;
}
.pages .logo-labs {
  position: relative;
  margin: 0 auto;
  top: 50px;
  display: none;
  z-index: 1000;
}
.pages .bold_line,
.pages .thin_line {
  display: none;
  width: 50px;
  height: 4px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #000;
}
.pages .thin_line {
  height: 1px;
  margin-top: 15px;
}
.pages .title,
.pages .description {
  display: block;
  font-family: 'CourierRegular';
  color: #fff;
  font-size: 10px;
  text-align: center;
  bottom: 220px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  z-index: 2;
  word-break: break-word;
  line-height: 1.636;
  max-width: 200px;
}
.pages .description {
  bottom: 170px;
  height: 30px;
}
.pages #container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pages #transition {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pages canvas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.pages canvas.tween {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.menu {
  height: 33px;
  position: absolute;
  width: 117px;
  z-index: 1000;
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
.menu .bt-menu {
  width: 38px;
  height: 33px;
  background-color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .bt-prev,
.menu .bt-next {
  text-indent: -9999px;
}
.menu .bt-next {
  position: relative;
}
.menu .bt-menu .out,
.menu .bt-menu .over {
  position: absolute;
  width: 38px;
  height: 33px;
  overflow: hidden;
}
.menu .bt-menu .out .icon,
.menu .bt-menu .over .icon {
  background-image: url("/img/arrow-right.png");
  background-repeat: no-repeat;
  -webkit-background-size: 14px;
  -moz-background-size: 14px;
  background-size: 14px;
  background-position: 0 0;
  position: absolute;
  width: 14px;
  height: 27px;
  top: 50%;
  left: 50%;
  margin-top: -6.5px;
  margin-left: -3px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .bt-menu p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.menu .bt-menu .over .bg {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .bt-menu .over .icon {
  background-position: -7px 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .bt-menu .over p {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .bt-menu:hover .over .bg {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu .bt-menu:hover .over .icon,
.menu .bt-menu:hover .over p {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu .bt-prev .out .icon,
.menu .bt-prev .over .icon {
  background-image: url("/img/arrow-left.png");
}
.menu .bt-info .menu {
  width: 20px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  display: block;
}
.menu .bt-info .menu .line {
  width: 100%;
  height: 1px;
  background-color: #999;
}
.menu .bt-info .menu .line.two {
  position: absolute;
  top: 6px;
}
.menu .bt-info .menu .line.three {
  position: absolute;
  top: 12px;
}
.menu .bt-menu .over .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
}
.menu .bt-info {
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 33px;
  font-family: "GothamLight";
  font-size: 18px;
  color: #000;
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  -ms-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.menu .bt-info .over p {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  color: #fff;
}
.menu .bt-next {
  -webkit-transition-delay: 0.07s;
  -moz-transition-delay: 0.07s;
  -o-transition-delay: 0.07s;
  -ms-transition-delay: 0.07s;
  transition-delay: 0.07s;
}
.menu .bt-menu .disabled {
  display: block;
  width: 38px;
  height: 33px;
  position: absolute;
  background-color: #ccc;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu .bt-menu.disabled .disabled {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu .bt-menu.disabled {
  pointer-events: none;
}
.menu .bt-menu .disabled .dot {
  width: 1px;
  height: 1px;
  background-color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
}
.blur {
  -webkit-transition: filter 1s ease-in-out;
  -moz-transition: filter 1s ease-in-out;
  -o-transition: filter 1s ease-in-out;
  -ms-transition: filter 1s ease-in-out;
  -webkit-transition: filter 1s ease-in-out;
  -moz-transition: filter 1s ease-in-out;
  -o-transition: filter 1s ease-in-out;
  -ms-transition: filter 1s ease-in-out;
  transition: filter 1s ease-in-out;
  -webkit-filter: blur(3px);
}
.menu.in .bt-menu {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.repulse.lab {
  width: 100%;
  height: 100%;
}

.strings {
  width: 100%;
  height: 100%;
}
