.info
  .content
    h1 nature
    p
      | A collection of canvas experiments
      | <br>based on the chapters of the book&nbsp;
      a(href='http://natureofcode.com/', target="_blank") Nature Of Code.
    .line
    ul
      li
        a(href="/", id="0") opposite forces
      li
        a(href="/", id="1") black hole
      li
        a(href="/", id="2") invisible force
      li
        a(href="/", id="3") spiral hypnosis
      li
        a(href="/", id="4") springs & dots
      li
        a(href="/", id="5") walkers
      li
        a(href="/", id="6") game of life
      li
        a(href="/", id="7") chaotic shapes
      li
        a(href="/", id="8") evolution of form
      li
        a(href="/", id="9") neural noise

    //- p.by
      //- a(href="http://doublepi.me", target="_blank") DoublePI

  a(href="/", class="bt-close") Close
