.info
  .content
    h1 natura
    p A collection of canvas experiments<br>based in the chapters of the book NatureOfCode
    .line
    ul
      li
        a(href="/") opposite forces
      li
        a(href="/") black hole
      li
        a(href="/") invisible force
      li
        a(href="/") spiral hypnosis
      li
        a(href="/") springs & dots
      li
        a(href="/") walkers
      li
        a(href="/") game of life
      li
        a(href="/") chaotic shapes
      li
        a(href="/") evolution of form
      li
        a(href="/") neural noise
